apiVersion: v1
kind: Config
preferences: {}
current-context: itl
clusters:
  - cluster:
      insecure-skip-tls-verify: true
      server: https://10.99.100.4:6443
      tls-server-name: 10.99.100.4
    name: kubernetes
  - cluster:
      insecure-skip-tls-verify: true
      server: https://127.0.0.1:16643
      tls-server-name: 10.99.100.4
    name: kubernetes-ssh-tunnel
contexts:
  - context:
      cluster: kubernetes
      user: oidc-user
    name: itl
  - context:
      cluster: kubernetes-ssh-tunnel
      user: oidc-user
    name: itl-ssh-tunnel
  - context:
      cluster: kubernetes
      user: oidc-user-python
    name: itl-python
  - context:
      cluster: kubernetes-ssh-tunnel
      user: oidc-user-python
    name: itl-ssh-tunnel-python
users:
  - name: oidc-user
    user:
      exec:
        apiVersion: client.authentication.k8s.io/v1beta1
        args:
          - get-token
          - '--oidc-issuer-url=https://sts.itlusions.com/realms/itlusions'
          - '--oidc-client-id=kubernetes-oidc'
        command: ..\.kubectl\plugins\kubectl-oidc_login.exe
        env: null
        interactiveMode: IfAvailable
        provideClusterInfo: false
  - name: oidc-user-python
    user:
      exec:
        apiVersion: client.authentication.k8s.io/v1beta1
        args:
          - -m
          - itl_kubectl_oidc_setup.auth
        command: python
        env: null
        interactiveMode: IfAvailable
        provideClusterInfo: false
